/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/*Hiding Notebook section cards with name Remote for Remote kernels*/
.jp-LauncherCard[data-category='Notebook'][title~='(Remote)'] {
  display: none;
}

/*Hiding Console section cards with name Remote for Remote kernels*/
.jp-LauncherCard[data-category='Console'][title~='(Remote)'] {
  display: none;
}

/*Changing Icon for category with image add python bigquery*/
.favyox6 svg[data-icon='launcher:python-bigquery-logo-icon'],
.f1hgkb35 svg[data-icon='launcher:python-bigquery-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/bigquery_logo.svg');
}

/*Changing Icon for category with image add runtime*/
.favyox6 svg[data-icon='launcher:add-runtime-icon'],
.f1hgkb35 svg[data-icon='launcher:add-runtime-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image pyspark*/
.favyox6 svg[data-icon='launcher:pyspark-logo-icon'],
.f1hgkb35 svg[data-icon='launcher:pyspark-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image cluster*/
.favyox6 svg[data-icon='launcher:clusters-icon'],
.f1hgkb35 svg[data-icon='launcher:clusters-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/google-cloud.svg');
}

/*Changing Icon for category with image python*/
.favyox6 svg[data-icon='launcher:python-logo-icon'],
.f1hgkb35 svg[data-icon='launcher:python-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image sparkR*/
.favyox6 svg[data-icon='launcher:sparkr-logo-icon'],
.f1hgkb35 svg[data-icon='launcher:sparkr-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image scala*/
.favyox6 svg[data-icon='launcher:scala-logo-icon'],
.f1hgkb35 svg[data-icon='launcher:scala-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

.ui.dropdown:not(.button) > .default.text {
  color: var(--jp-ui-font-color2) !important;
}

/* Highlight select dropdown field when focus */
.ui.selection.active.dropdown:focus {
  border: 3px solid #3367d6 !important;
}

.ui.search.dropdown.active > input.search:focus,
.ui.search.dropdown.visible > input.search:focus {
  left: 0px !important;
  bottom: 0px !important;
  cursor: auto;
  border: 2px solid #3367d6 !important;
  border-radius: 3px !important;
}

.ui.selection.dropdown {
  min-width: 5em !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: 40% !important;
}
.scroll-fix-header {
  position: sticky;
  top: 0;
  background-color: var(--jp-layout-color1);
}
.logs-button {
  cursor: context-menu !important;
}
.dark-theme-logs-disable {
  opacity: 0.5;
  cursor: default !important;
}
body[data-jp-theme-name='JupyterLab Light'] .filter-search-gcs {
  padding: 0px 5px;
  background-color: var(--jp-layout-color0);
  border: 1px solid var(--jp-layout-color4);
  color: var(--jp-ui-font-color1);
  height: 30px;
}
body[data-jp-theme-light='true'].scroll-fix-header {
  position: sticky;
  top: 0;
  background-color: var(--jp-layout-color0);
}
body[data-jp-theme-name='JupyterLab Dark'] .dark-theme-logs path {
  fill: var(--jp-ui-font-color1);
}

body[data-jp-theme-name='JupyterLab Dark'] .dark-theme-logs-disable path {
  fill: var(--jp-ui-font-color1);
  opacity: 0.5;
  cursor: default !important;
}

body[data-jp-theme-name='JupyterLab Dark'] .icon-white path {
  fill: var(--jp-ui-font-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .icon-black path {
  fill: var(--jp-layout-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .select-title-text {
  background-color: var(--jp-layout-color0);
  color: var(--jp-layout-color4);
}
body[data-jp-theme-name='JupyterLab Dark'] .filter-search-gcs {
  padding: 0px 5px;
  background-color: var(--jp-layout-color0);
  border: 1px solid var(--jp-layout-color4);
  color: var(--jp-ui-font-color1);
  height: 30px;
}
body[data-jp-theme-name='JupyterLab Dark'] .select-dropdown-text {
  background-color: var(--jp-layout-color0);
  color: var(--jp-layout-color4);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-add-property-button {
  background-color: var(--jp-console-icon-color);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-add-property-button-disabled {
  background-color: var(--jp-layout-color4);
  color: var(--jp-ui-font-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-edit-text {
  color: var(--jp-layout-color0);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-add-label-button {
  background-color: var(--jp-console-icon-color);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-add-label-button-disabled {
  background-color: var(--jp-layout-color4);
  color: var(--jp-ui-font-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .submit-button-style {
  background-color: var(--jp-console-icon-color);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-save-button-style {
  background: var(--jp-console-icon-color);
  color: var(--jp-layout-color0);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-edit-button-disabled {
  background-color: var(--jp-layout-color4);
  color: var(--jp-ui-font-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-edit-button {
  background-color: var(--jp-console-icon-color);
}
body[data-jp-theme-name='JupyterLab Dark'] .color-icon-disabled path {
  fill: var(--jp-ui-font-color2);
}
body[data-jp-theme-name='JupyterLab Dark'] .color-icon path {
  fill: var(--jp-layout-color0);
}
body[data-jp-theme-name='JupyterLab Dark'] .filter-section-part {
  color: var(--jp-ui-font-color0);
}
body[data-jp-theme-name='JupyterLab Dark'] .schema-table th,
body[data-jp-theme-name='JupyterLab Dark'] .big-query-schema-table th {
  background-color: var(--jp-layout-color2);
}
body[data-jp-theme-name='JupyterLab Dark'] .accordion-row-parent-header {
  background: var(--jp-border-color3);
}
body[data-jp-theme-name='JupyterLab Dark']
  .logo-alignment-style-accordion
  path {
  fill: var(--jp-ui-font-color1);
}

body[data-jp-theme-name='JupyterLab Dark'] .job-label-style {
  background-color: var(--jp-layout-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .job-label-style-list {
  background-color: var(--jp-layout-color1);
}
body[data-jp-theme-name='JupyterLab Dark'] .metastore-loader span {
  border-color: var(--jp-console-icon-color) var(--jp-console-icon-color)
    transparent !important;
}
body[data-jp-theme-name='JupyterLab Dark'] .job-cancel-button-style:hover {
  background-color: var(--jp-layout-color3);
}
.css-uqjlkp-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  padding: unset !important;
}
.css-uqjlkp-MuiFormControl-root-MuiTextField-root .MuiInputBase-root input {
  height: 21px;
}
.panel-icons-custom-style {
  display: flex;
  align-items: center;
}
