/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/*Hiding Notebook section cards with name Remote for Remote kernels*/
.jp-LauncherCard[data-category='Notebook'][title~='(Remote)'] {
  display: none;
}

/*Hiding Console section cards with name Remote for Remote kernels*/
.jp-LauncherCard[data-category='Console'][title~='(Remote)'] {
  display: none;
}

/*Changing Icon for category with image pyspark*/
.f1hgkb35 svg[data-icon='launcher:pyspark-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image cluster*/
.f1hgkb35 svg[data-icon='launcher:clusters-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image python*/
.f1hgkb35 svg[data-icon='launcher:python-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image sparkR*/
.f1hgkb35 svg[data-icon='launcher:sparkr-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

/*Changing Icon for category with image scala*/
.f1hgkb35 svg[data-icon='launcher:scala-logo-icon'] {
  content-visibility: hidden;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 32px;
  background-image: url('./icons/dataproc_icon.svg');
}

h2 {
  display: flex;
  align-items: center;
  margin: 15px 0px !important;
}

.ui.dropdown:not(.button) > .default.text {
  color: var(--jp-ui-font-color2) !important;
}

/* Highlight select dropdown field when focus */
.ui.selection.active.dropdown:focus {
  border: 3px solid #3367d6 !important;
}

.ui.search.dropdown.active > input.search:focus,
.ui.search.dropdown.visible > input.search:focus {
  left: 0px !important;
  bottom: 0px !important;
  cursor: auto;
  border: 2px solid #3367d6 !important;
  border-radius: 3px !important;
}

.ui.selection.dropdown {
  min-width: 5em !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: 40% !important;
}
.scroll-fix-header {
  position: sticky;
  top: 0;
  background-color: white;
}
.logs-button{
  cursor: context-menu !important;
}