@import url(https://fonts.googleapis.com/css?family=Roboto);

.db-title{
    width: 124px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 20px;
}
.lm-Widget .p-Widget .jp-Toolbar .jp-Toolbar-micro{
    padding-left: 20px !important;
}
.tr-row-even {
    background-color: #F5F5F5;
  }
  
  .tr-row-odd {
    background-color: white;
  }
  .db-table {
    width: 100%;
    border-collapse: collapse; /* Remove spacing between cells */
  }
  
  .db-table td {
    padding-left: 10px; /* Remove padding around cells */
    height: 29px;
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 25px;
    margin-left: 20px;
    padding-right: 30px;
}
  
.db-table th {
  padding-left: 10px;
  text-align: left;
}
.db-table td .schema-td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}