@import url(https://fonts.googleapis.com/css?family=Roboto);

.dpms-Wrapper{
  font-family: 'Roboto' !important;
  background: var(--jp-layout-color1);
}
.dpms-title {
  line-height: 20px;
  width: 150px;
  height: 20px;
  margin-top: 19px;
  margin-left: 13px !important;
  font-weight: 550;
  font-size: 15px;
  font-family: 'Roboto' !important;
}

.refresh-icon {
  margin-left: 90% !important;
  margin-top: -20px;
  width: 20px;
  cursor: pointer;
}

.search-field{
  padding-right: 13px;
  margin-top: 20px;
  padding-left: 13px;
}
.columns.icon {
  margin-left: 20px;
}

.Tree div[role="treeitem"][aria-level="0"]>div {
  display: flex;
  align-items: center;
}

.Tree div[role="treeitem"][aria-level="0"]>div>div>div>svg {
  margin-right: 5px;
  cursor: pointer;
}

.Tree div[role="treeitem"][aria-level="1"]>div {
  display: flex;
  align-items: center;
}

.Tree div[role="treeitem"][aria-level="1"]>div>div>div>svg {
  margin-right: 10px;
  cursor: pointer;
}

.Tree div[role="treeitem"][aria-level="2"]>div {
  display: flex;
  margin-left: 20px;
}

.Tree div[role="treeitem"][aria-level="2"]>div>div>svg {
  margin-right: 10px;
}

.Tree div[role="treeitem"]>div>div:last-child {
  cursor: pointer;
}

.Tree div[role="treeitem"][aria-level="2"]>div>div:last-child {
  cursor: context-menu !important;
}


.db-icon {
  pointer-events: none;
}

.table-icon {
  pointer-events: none;
  margin-top: 2px;
}

.dpms-error {
  margin-top: 50px;
  margin-left: 10px;
  font-weight: 550;
  font-size: 15px;
  width: auto;
}

.tree-container {
  margin-left: 13px;
  margin-top: 10px;
  height: 100%;
}

.database-loader {
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
}

.Tree {
  overflow: auto;
  height: 100% !important;
  width: auto !important;
  overflow-wrap: anywhere;
}

.search-clear-icon {
margin-right: -7px;
}


.dpms-search {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.css-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 13px !important;
}