@import url(https://fonts.googleapis.com/css?family=Roboto);

.gcs-panel-title {
  color: var(--jp-ui-font-color0);
  font-family: 'Roboto';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.gcs-folder-path-parent {
  display: flex;
  align-items: center;
  min-height: 24px;
  padding: 0px 10px;
  border-top: 1px solid #e9eaed;
  color: var(--jp-ui-font-color1);
  cursor: pointer;
}

.gcs-row-data-parent:hover {
  background: var(--jp-layout-color2);
}

.gcs-row-data-parent-selected {
  background: var(--jp-brand-color1);
  color: var(--jp-layout-color1);
}

.gcs-row-data-parent-selected .gcs-name-file-folder {
  color: var(--jp-layout-color1);
}

.gcs-row-data-parent-selected .logo-alignment-style path {
  fill: #fff;
  fill-opacity: 1;
}

.gcs-row-data-parent {
  background: var(--jp-layout-color0);
  height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--jp-ui-font-color1);
  cursor: pointer;
}

.gcs-file-list-data {
  height: 80vh;
  overflow: auto;
}

.gcs-table-body {
  overflow-y: auto;
  max-height: 78vh;
}

.gcs-object-name {
  display: flex;
  align-items: center;
  height: 20px;
  color: var(--jp-ui-font-color1);
}

.gcs-panel-header {
  padding: 0px 10px;
  display: flex;
}

.gcs-title-icons {
  margin: 0px 5px;
  cursor: pointer;
}

.gcs-filter-overlay {
  border-radius: 4px;
  border: 1px solid var(--jp-layout-color4);
  height: 38px;
  padding-left: 15px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.gcs-name-field {
  padding-left: 10px;
  padding-top: 4px;
}
.gcs-modified-date {
  padding-left: 15px;
  padding-top: 4px;
}
.gcs-name-file-folder {
  width: 100px;
  flex: 1 0 64px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}
.gcs-panel-parent {
  font-family: 'Roboto';
  background: var(--jp-layout-color1);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 0px;
}
.gcs-search-field{
  padding-right: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 13px;
}
.input-folder-name-style {
  font-size: 12px;
  height: 18px;
  width: 95%;
}

