@import url(https://fonts.googleapis.com/css?family=Roboto);

.cluster-details-value-job {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 65%;
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
  height: 29px;
}

.job-label-style {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0px 10px;
  border-radius: 10px;
  color: var(--jp-ui-font-color0);
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0px;
  margin-right: 5px;
}

.job-argument-style {
  padding: 2px;
}

.edit-input-style {
  margin-right: 20px;
  width: 90%;
  height: 36px;
}

.key-message-wrapper {
  width: 90%;
}

.job-label-edit-parent {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 512px;
  color: var(--jp-ui-font-color2);
  padding-bottom: 20px;
}

.job-label-edit-row {
  display: flex;
  margin: 15px 0px;
  padding-bottom: 18px;
}

.job-label-style-parent {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 65%;
  flex-wrap: wrap;
  color: var(--jp-ui-font-color2);
}

.job-edit-header {
  padding: 0px 15px;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.job-save-button-style {
  margin-right: 10px;
  background: #3367d6;
  color: var(--jp-layout-color0);
  height: 30px;
  font-size: 13px;
  width: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.job-button-style-parent {
  border-bottom: 1px solid var(--jp-layout-color3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 55px;
}

.job-cancel-button-style {
  margin-right: 10px;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color0);
  height: 30px;
  width: 75px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
}

.job-cancel-button-style:hover {
  background-color: #d3d3d3;
}

.job-add-label-button-disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 110px;
  height: 32px;

  background: var(--jp-layout-color0);
  color: var(--jp-ui-font-color2);
}

.job-add-label-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  height: 32px;
  background: var(--jp-layout-color0);
  box-shadow: 0px 1px 5px var(--jp-shadow-umbra-color),
    0px 2px 2px var(--jp-shadow-umbra-color),
    0px 1px 1px var(--jp-shadow-umbra-color);
  border-radius: 4px;
  border-style: none;
}

.job-edit-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 75px;
  height: 32px;

  background: var(--jp-layout-color0);
  box-shadow: 0px 1px 5px var(--jp-shadow-umbra-color),
    0px 2px 2px var(--jp-shadow-umbra-color),
    0px 1px 1px var(--jp-shadow-umbra-color);
  border-radius: 4px;
}

.job-edit-button-disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  color: var(--jp-ui-font-color2);

  width: 75px;
  height: 32px;

  background: var(--jp-layout-color0);
  opacity: 0.5;
}

.job-edit-text-disabled {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  /* identical to box height, or 246% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* Quick Selection/Blue 700 */

  color: var(--jp-ui-font-color2);
}

.color-icon {
  color: #3367d6;
  display: flex;
}

.color-icon-disabled {
  color: var(--jp-ui-font-color2);
  display: flex;
}

.job-edit-text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  font-family: Roboto;
  /* identical to box height, or 246% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* Quick Selection/Blue 700 */

  color: #3367d6;
}

.job-delete-icon {
  margin-top: 6px;
  cursor: pointer;
}

.job-label-style-list {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0px 10px;
  width: fit-content;
  border-radius: 10px;
  color: var(--jp-ui-font-color0);
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0px;
}

.jobs-list-table-parent {
  height: 75.8vh;
  overflow: auto;
}
.scroll-comp-jobdetails {
  overflow-y: auto;
  max-height: 90vh;
}
.jobs-list-table-parent-small {
  height: 55vh;
  overflow: auto;
}

.job-details-label-row {
  border-bottom: 1px solid var(--jp-layout-color3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 18px;
  margin-bottom: 6px;
}

.job-details-label-level-one {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 35%;
  padding-left: 15px;
  color: var(--jp-ui-font-color0);
  overflow-wrap: anywhere;
}

