@import url(https://fonts.googleapis.com/css?family=Roboto);

.select-text-overlay-scheduler {
  width: 512px;
  margin: 20px;
}

.execution-history-parent {
  margin: 20px;
}

.input-style-scheduler {
  width: 100%;
  background: var(--jp-layout-color0);
  min-height: 40px;
  outline: none;
}

.select-job-style-scheduler {
  background: var(--jp-layout-color0);
  border-radius: 4px;
  width: 100%;
  min-height: 36px;
  outline: none;
}

.create-scheduler-label-style {
  font-size: 14px;
}

.create-scheduler-form-element {
  margin-top: 15px;
}

.create-job-scheduler-title {
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.create-scheduler-label {
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color2);
}

.execution-history-left-wrapper {
  width: 40%;
  border: 1px solid var(--jp-layout-color3);
}
.execution-history-main-wrapper {
  display: flex;
  margin-top: 20px;
}

.execution-history-right-wrapper {
  width: 60%;
  border: 1px solid var(--jp-layout-color3);
}

.dag-runs-list-table-parent {
  height: 400px;
  overflow: auto;
}