.page-move-button.disabled {
  opacity: 0.5;
  cursor: default;
}

.page-move-button {
  padding: 0px 15px;
  font-size: 25px;
  cursor: pointer;
  color: var(--jp-ui-font-color0);
}

.page-size-selection {
  border: none;
  margin-left: 5px;
}

.pagination-parent-view {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  align-items: center;
}

.page-display-part {
  padding-left: 20px;
}
