.runtime-list-table-parent {
  height: 29vh;
  overflow: auto;
}

.spin-loader-runtime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26vh;
}

.list-runtime-template-wrapper {
  margin: 0px 20px 5px 0px;
}

.runtime-table-data {
  padding-left: 15px;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.runtimetemplate-max-idle {
  background: var(--jp-layout-color0);
  width: 100%;
  height: 36px;
  margin-top: 10px;
  outline: none;
}
.create-container-image-message {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--jp-ui-font-color2);
  overflow: hidden;
  word-wrap: break-word;
}
.runtime-message {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  padding-top: 13px;
  color: #000000;
  display: flex;
}
.create-runtime-sub-message-network {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 25px;
  color: var(--jp-ui-font-color2);
  width: 35%;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
}

.select-runtime-radio-style {
  padding: 8px 4px 4px 0px !important;
}

.runtimetemplate-max-idle-select {
  background: var(--jp-layout-color0);
  border-radius: 4px;
  margin-left: 15px;
  margin-top: 30px !important;
}

.runtimetemplate-max-idle-select.ui.active.selection.dropdown,
.runtimetemplate-max-idle-select.ui.selection.active.dropdown {
  border-color: #3367d6 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.create-runtime-button-wrapper {
  border-bottom: 1px solid var(--jp-layout-color3);
}

.subnetwork-style {
  margin-left: 20px;
}

.select-runtime-style {
  background: var(--jp-layout-color0);
  border-radius: 4px;
  width: 512px;
  margin-top: 10px;
  min-height: 36px;
  outline: none;
}

.create-runtime-style {
  background: var(--jp-layout-color0);
  width: 512px;
  height: 40px;
  outline: none;
}

.create-runtime-overlay {
  height: 48px;
  width: 85px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.runtime-table-data:nth-child(1) {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
}

.runtime-table-data:last-child {
  padding-left: 28px;
  cursor: pointer;
}

.logo-alignment-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-runtime-radio {
  display: flex;
}
.create-no-list-message {
  color: var(--jp-ui-font-color0);
  background: var(--jp-layout-color2);;
  font-size: 13px;
  border-radius: 4px;
  width: 482px;
  padding: 15px;
  display: flex;
  margin-top: 5px;
}
