.runtime-list-table-parent {
  height: 26vh;
  overflow: auto;
}

.spin-loader-runtime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26vh;
}

.list-runtime-template-wrapper {
  margin: 0px 20px 5px 0px;
}

.runtime-table-data {
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.runtimetemplate-max-idle {
  background: #ffffff;
  width: 100%;
  margin-top: 10px;
  min-height: 40px;
  outline: none;
}
.runtime-message {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  padding-top: 13px;
  color: #000000;
  display: flex;
}
.runtimetemplate-max-idle-select {
  background: #ffffff;
  border: 1px solid black !important;
  border-radius: 4px;
  margin-top: 10px;
  min-height: 40px;
  margin-left: 15px;
}

.create-runtime-button-wrapper {
  border-bottom: 1px solid #e0e0e0;
}
.subnetwork-style {
  margin-left: 20px;
}
.select-runtime-style {
  background: #ffffff;
  border: 1px solid black !important;
  border-radius: 4px;
  width: 512px;
  margin-top: 10px;
  min-height: 40px;
  outline: none;
}
.create-runtime-style {
  background: #ffffff;
  width: 512px;
  margin-top: 10px;
  min-height: 40px;
  outline: none;
}

.create-runtime-overlay {
  height: 48px;
  width: 85px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.runtime-table-data:nth-child(1) {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
}

.runtime-table-data:last-child {
  padding-left: 28px;
  cursor: pointer;
}

.logo-alignment-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
