.runtime-list-table-parent {
  height: 26vh;
  overflow: auto;
}

.spin-loader-runtime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26vh;
}

.list-runtime-template-wrapper {
  margin: 0px 20px 5px 0px;
}

.runtime-table-data {
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.runtimetemplate-max-idle{
    background: #ffffff;
    width: 90%;
    margin-top: 10px;
    min-height: 40px;
    outline: none;
 
}
.runtimetemplate-max-idle-select {
  background: #ffffff;
  border: 1px solid black !important;
  border-radius: 4px;
  margin-top: 10px;
  min-height: 40px;
  margin-left: 15px;
}

.create-runtime-button-wrapper {
  border-bottom: 1px solid #e0e0e0;
}

.create-runtime-overlay {
  height: 48px;
  width: 85px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.runtime-table-data:nth-child(1) {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
}
