.session-details-label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 35%;
  color: var(--jp-ui-font-color0);
  overflow-wrap: anywhere;
  padding-left: 15px;
}
.session-env-details-label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 35%;
  color: var(--jp-ui-font-color0);
  overflow-wrap: anywhere;
  padding-left: 35px;
}

.session-details-value {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 65%;
  color: var(--jp-ui-font-color2);
  padding-left: 20px;
}

.session-env-details-value {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 65%;
  color: var(--jp-ui-font-color2);
}
.session-detail-status-parent {
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color2);
  padding-left: 20px;
}

.session-label-style-parent {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 65%;
  color: var(--jp-ui-font-color2);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.session-loader {
  display: flex;
  align-items: end;
}

.session-list-table-parent {
  max-height: 100%;
  overflow: auto;
}

.preview-data-table-parent {
  overflow: auto;
}

.preview-table-data {
  padding-left: 15px;
  border-bottom: 1px solid var(--jp-layout-color3);
}
.session-template-container {
  height: 100%;
  overflow: auto;
}
.session-details-label-width {
  width: 33%;
}