@import url(https://fonts.googleapis.com/css?family=Roboto);

.submit-job-container {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.submit-job-label-header {
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

.job-add-property-button-disabled {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 150px;
  height: 32px;

  background: #ffffff;
  color: rgba(0, 0, 0, 0.54);
}

.job-add-property-button {
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 150px;
  height: 32px;

  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.select-job-style {
  background: #ffffff;
  border: 1px solid black !important;
  border-radius: 4px;
  width: 50%;
  margin-top: 10px;
  min-height: 40px;
  outline: none;
}
.input-style{
    background: #ffffff;
    width: 50%;
    margin-top: 10px;
    min-height: 40px;
    outline: none;
}
.react-tagsinput-input {
  font-family: 'Roboto' !important;
  color: black !important;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  border: 0;
  font-size: 13px;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  outline: none !important;
  padding: 0px !important;
  width: 95% !important;
  margin-left: 15px;
}

.react-tagsinput-tag {
  border: 1px solid #d3d3d3 !important;
  display: inline-block;
  font-family: 'Roboto' !important;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: lightgrey !important;
  border-radius: 20px !important;
  color: black !important;
  margin-top: 5px !important;
}
.react-tagsinput-remove {
  border-radius: 50% !important;
  padding: 4px !important;
  margin-left: 4px !important;
  background-color: grey !important;
  padding-right: 6px !important;
}
a {
  color: black !important;
}
a:hover {
  color: black !important;
}
.submit-job-cluster-message {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  padding-top: 10px;
  padding-left: 5px;
  color: #000000;
}
.submit-job-learn-more {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3px;
}

.submit-job-message {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
  color: #575757;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
}

.submit-job-message-with-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
  color: #575757;
  width: 50%;
  overflow: hidden;
  display: flex;
  word-wrap: break-word;
}
.jobType-select {
  box-sizing: border-box;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  display: block !important;
  height: 40px;
  width: 100%;
  border-radius: 4px !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  transform: none !important;
  position: unset !important;
}
.jobType-overlay {
  position: relative;
  margin-top: 20px;
  width: 50%;
}
.submit-button-disable-style {
  margin-right: 10px;
  background: white;
  color: #575757;
  height: 30px;
  font-size: 13px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
}
.submit-button-style {
  margin-right: 10px;
  background: #3367d6;
  color: #ffffff;
  height: 30px;
  width: 70px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.error-key-parent {
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: 90%;
}

.error-key-missing {
  color: #d50000;
  padding-left: 5px;
  font-size: 10px;
}

/* Highlight input field when focus */
.ui.input>input {
  outline: none;
  border-radius: 4px;
  border: 1px solid black !important;
}
.ui.input>input:focus{
  border: 3px solid #3367D6 !important;
  border-radius: 4px;
  outline: none;
}

/* Highlight tags input field when focus */
.react-tagsinput--focused{
  border: 3px solid #3367D6 !important;
}

.labels-delete-icon {
  padding-top: 7px;
}
.label-delete-icon-hide {
 opacity:0
}