@import url(https://fonts.googleapis.com/css?family=Roboto);

.submit-job-container {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.submit-job-label-header {
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.job-add-property-button-disabled {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  height: 32px;
  background: var(--jp-layout-color0);
  color: var(--jp-ui-font-color2);
  border: none;
  font-family: 'Roboto';
  border-radius: 4px;
}
.submit-job-message-input {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
  width: 512px;
  color: var(--jp-ui-font-color2);
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 5px;
}

.job-add-property-button {
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  height: 32px;
  background: var(--jp-layout-color0);
  box-shadow: 0px 1px 5px var(--jp-shadow-umbra-color),
    0px 2px 2px var(--jp-shadow-umbra-color),
    0px 1px 1px var(--jp-shadow-umbra-color);
  border-radius: 4px;
  border-style: none;
}

.select-job-style {
  background: var(--jp-layout-color0);
  border-radius: 4px;
  width: 512px;
  min-height: 36px;
  outline: none;
  /* min-height: unset !important; */
}

.select-text-overlay {
  position: relative;
  width: 512px;
  margin-top: 20px;
}

.select-title-text {
  height: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #000000;
  position: absolute;
  background-color: #fff;
  top: -5px;
  padding: 0px 3px;
  left: 7px;
  z-index: 3;
}
.disable-text {
  color: var(--jp-layout-color3) !important;
}
.select-text-overlay-label {
  position: relative;
}

.input-style {
  width: 512px;
  background: var(--jp-layout-color0);
  margin-top: 10px;
  min-height: 40px;
  outline: none;
}

.submit-job-input-style {
  background: var(--jp-layout-color0);
  width: 512px;
  height: 36px;
  outline: none;
}

.react-tagsinput-input {
  font-family: 'Roboto' !important;
  color: var(--jp-ui-font-color0) !important;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  border: 0;
  font-size: 13px;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  outline: none !important;
  padding: 0px !important;
  width: 95% !important;
  margin-left: 15px;
}

.react-tagsinput-tag {
  border: 1px solid #d3d3d3 !important;
  display: inline-block;
  font-family: 'Roboto' !important;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  background-color: lightgrey !important;
  border-radius: 20px !important;
  color: var(--jp-ui-font-color0) !important;
  margin-top: 5px !important;
}

.react-tagsinput-remove {
  border-radius: 50% !important;
  padding: 4px !important;
  margin-left: 4px !important;
  background-color: grey !important;
  padding-right: 6px !important;
}

.submit-job-cluster-message {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  padding-top: 10px;
  padding-left: 5px;
  color: var(--jp-ui-font-color0);
}

.submit-job-learn-more {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3px;
}

.submit-job-message {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
  width: 512px;
  color: var(--jp-ui-font-color2);
  overflow: hidden;
  word-wrap: break-word;
}

.submit-job-message-with-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
  width: 512px;
  color: var(--jp-ui-font-color2);
  overflow: hidden;
  display: flex;
  word-wrap: break-word;
  margin-top: 5px;
}

.jobType-select {
  box-sizing: border-box;
  background: var(--jp-layout-color0) !important;
  border: 1px solid var(--jp-border-color2) !important;
  display: block !important;
  height: 40px;
  width: 100%;
  border-radius: 4px !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  transform: none !important;
  position: unset !important;
}

.jobType-overlay {
  position: relative;
  margin-top: 20px;
  width: 50%;
}

.submit-button-disable-style {
  margin-right: 10px;
  background: var(--jp-layout-color0);
  color: var(--jp-ui-font-color2);
  height: 30px;
  font-size: 13px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
}

.submit-button-style {
  margin-right: 10px;
  background: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
  height: 30px;
  width: 70px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.error-key-parent {
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: 90%;
}

.error-key-missing {
  color: var(--jp-error-color0);
  padding-left: 5px;
  font-size: 10px;
}

.error-api {
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 20px;
}

/* Highlight tags input field when focus */
.react-tagsinput--focused {
  border: 3px solid var(--jp-brand-color0) !important;
}

.labels-delete-icon {
  padding-top: 7px;
  cursor: pointer;
}

.labels-delete-icon-hide {
  opacity: 0;
}

.select-dropdown-text {
  height: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #000000;
  position: absolute;
  background-color: #fff;
  top: -7px;
  padding: 0px 3px;
  left: 7px;
  z-index: 3;
}

.label-focused {
  color: #3367d6 !important;
}
